body{
	background-color: #9ACAEB;
}


.navbar {
	background: #071C2C;
}

.nav-link{
	color: #9ACAEB;
}

.navbar-brand{
	color: #9ACAEB;
}


.item3 {
	padding: 35px;
	padding: 50px;
	color: #071C2C;
}

.item4 {
	padding: 35px;
	padding: 50px;
	color: #071C2C;
}

.item5 {
	padding: 35px;
	padding: 50px;
	color: #071C2C;
}


