/*---------------------------------------------Estilo por defecto para todo el contenido ----------------------------------------------*/
*{									
	padding: 0px;
	margin: 0px;
	font-family: 'Arvo', serif;
}/*------------------------------------------------------------------------------------------------------------------------------------*/




/*-----------------Especifico estilo del contenedor grid de 4x4, el cual corresponde al body completo(html nosotros)-------------------*/
.grid-contacto{			
	display: grid;
	width: 100%;
	background-color: #9ACAEB;
	grid-template-areas: 
	"header header"
	"main1 main2"	
	"footer footer";
}/*------------------------------------------------------------------------------------------------------------------------------------*/





/*--------------------------La clase item1 es la que da estilo a la barra de navegación------------------------------------------------*/ 
.item1{								
	grid-area: header;				/* con grid-area indico que el area llamada header corresponde a la barra de navegacion, porque en */
	background-color: #071C2C;		/*	la clase anterior,con grid-template-areas, indiqué que las 4 celdas de la fila 1, serían el nav */
	height: 62px;
	width: 100%; 
	position: fixed;	
}/*------------------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------Especifico propiedades de la imagen(logo) que está dentro del nav -------------------------------------*/ 
.item1 img{						
	position: fixed;
	left: 3%;
	display: inline-block;
}/*------------------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------Estilo para los list items ----------------------------------------------------------------------------*/
.item1 ul li{					
	display: inline-block;
	list-style: none;
	padding: 20px;
}/*-------------------------------------------------------------------------------------------------------------------------------------*/


/*---------------------------------------------Estilo para los enlaces------------------------------------------------------------------*/
.item1 ul li a{					
	color: #9ACAEB;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;	
}/*------------------------------------------------------------------------------------------------------------------------------------*/


/*--------------------------------Estilo para cuando pasa el cursor por el enlace------------------------------------------------------*/
.item1 ul li a:hover{			
	background-color: #0a447a;
	padding: 23px;
	margin-bottom: 10px;
}/*------------------------------------------------------------------------------------------------------------------------------------*/






/*----------------------Estilo para el area debajo a la izq del nav, que es un formulario. se lo llamó main1--------------------------*/
.item2{					
	grid-area: main1;
	margin-top: 62px;
	width: 100%;
	padding:20px;
}/*-----------------------------------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------Estilo para formulario ----------------------------------------------------------------*/
form{								
	width: 55%;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------------*/





/*--------------------------------Estilo para el area a la derecha del formulario----------------------------------------------------*/
.item3{				
	grid-area: main2;
	margin-top: 62px;
	max-width: 100%;
}

.item3 hr{
	width: 70%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------*/




/*-----------------------------------------------------footer-------------------------------------------------------------------------*/
.item4{			
	grid-area: footer;
	padding: 35px;
	height: 3vh;
}/*-----------------------------------------------------------------------------------------------------------------------------------*/









/*---------------------------------Alineamiento a la derecha, se usa sólo para el nav--------------------------------------------------*/
.alineo-derecha{
	float: right; 		
}/*------------------------------------------------------------------------------------------------------------------------------------*/		


/*---------------------------------Alineamiento a la izquierda, se usa sólo en el nav--------------------------------------------------*/
.alineo-izquierda{	
	padding: 20px;
	float: left; 			
}/*------------------------------------------------------------------------------------------------------------------------------------*/		

/*---------------------------------Alineamiento a la izquierda, se usa sólo en el nav--------------------------------------------------*/
.alineo-izquierda a{	
	left: 7.5%;
	position: fixed;
	text-decoration: none;
	color: #9ACAEB;
	font-size: 15px;
}/*------------------------------------------------------------------------------------------------------------------------------------*/


