/*---------------------------------------------Estilo por defecto para todo el contenido ----------------------------------------------*/
*{									
	padding: 0px;
	margin: 0px;
	font-family: 'Arvo', serif;
}/*------------------------------------------------------------------------------------------------------------------------------------*/


h1{
	padding: 35px;
}

.card{
	border: 5px solid #071C2C;
}